/* ==UserStyle==
@name           monkeytype everforest
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    everforest theme for monkeytype
@author         refact0r, edited by AMilkyBoi
@homepageURL    https://github.com/AMilkyBoi/everforest-monkeytype
@updateURL      https://github.com/AMilkyBoi/everforest-monkeytype/raw/main/everforest.user.css
==/UserStyle== */
@-moz-document domain("monkeytype.com") {

    /* override theme colors */
    * {
        --bg-color: #2b3339;
        --main-color: #4b565c;
        --caret-color: #a7c080;
        --sub-color: #7fbbb3;
        --sub-alt-color: #83c092;
        --text-color: #E9F0F3;
        --error-color: #e67e80;
        --error-extra-color: #d699b6;
        --colorful-error-color: #e67e80;       /* same as error-extra-color */
        --colorful-error-extra-color: #d699b6; /* same as error-color */
    }

    /* background and effects */
    .customBackground {
        background-image: url("https://wallpaper.dog/large/11038101.jpg") !important;
        background-size: cover;
        background-position: center !important;
        background-repeat: no-repeat;
        transition: filter 1s ease !important;
        filter: brightness(0.7) blur(0px);
    }

    body[style*="cursor: none"] .customBackground {
        filter: brightness(0.5) blur(5px);
    }

    /* change logo text */
    #top .logo .text {
        visibility: hidden;
    }

    #top .logo .text .top:after {
        content: 'monkeytype' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -.7rem;
        margin-left: -.15rem;
    }

    #top .logo .text:after {
        content: 'everforest' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -2rem;
    }
}
